body {
    background: url("../images/background.jpg") no-repeat fixed center center/cover;
}

.text-shadow {
    text-shadow: 2px 2px 2px purple;
}

.sidenav {
  background-color:#ad1457;
 }

 .sidenav li a {
  font-size: 1.3rem;
  color: white;
  text-shadow: 2px 2px 2px purple;
}

/* Media Queries */
@media (max-width: 480px) {
  #eyeIcon {
      font-size: 14px; /* Adjust size for smaller screens */
  }
}

