body {
    background: url("../images/background.jpg") no-repeat fixed center center/cover;
    font-family: 'Mukta', sans-serif;
    font-weight: 200;
}

.text-shadow {
    text-shadow: 2px 2px 2px purple;
}

.sidenav {
  background-color:#ad1457;
 }

 .sidenav li a {
  font-size: 1.3rem;
  color: white;
  text-shadow: 2px 2px 2px purple;
}

.form-spacing {
  margin-top: 50px; 
}

/* Media Queries */
@media (max-width: 480px) {
  #eyeIcon {
      font-size: 14px; /* Adjust size for smaller screens */
  }
}

