/* Import Google font */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


body {
    background: url("../images/background.jpg") no-repeat fixed center center/cover;
    font-family: 'Oswald', sans-serif;
    flex-direction: column;
}

h3 {
  font-weight: 300;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  color: #ad1457;
 }


.text-shadow {
    text-shadow: 2px 2px 2px #ad1457;
}

.sidenav {
  background-color:#ad1457;
 }

 .sidenav li a {
  font-size: 1.3rem;
  color: white;
  text-shadow: 2px 2px 2px purple;
}

.form-spacing {
  margin-top: 50px; 
}

/* Media Queries */
@media (max-width: 480px) {
  #eyeIcon {
      font-size: 14px; /* Adjust size for smaller screens */
  }
}

