{% extends "base.html" %}
{% block content %}

    <!-- Main container with a gray background -->
    <div class="gray-background">
        <div class="row custom-margin-top">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel">
                    <!-- Welcome message -->
                    <h3 class="center-align custom-font-size">Welcome to Daily Flight Planner!</h3>

                    <!-- Introduction paragraph -->
                    <p>
                        Daily Flight Planner is an innovative application designed to digitise 
                        and streamline the daily dispatch planning process for airports.
                        Our platform offers a user-friendly interface that enhances efficiency 
                        and accuracy in managing flight operations.
                    </p>

                    <!-- Feature list -->
                    <ol class="custom-font-size">
                        <!-- Login information -->
                        <li>
                            <strong>Log In:</strong> There are two types of logins: AdminOps and Dispatcher, 
                            each with access to different functionalities. 
                            To access, you need a login created by AdminOps.
                            <ul>
                                <li><strong>AdminOps:</strong> It is a privileged access. It can access the profile 
                                    currently in use, access the home page, search the database, edit and delete flights. 
                                    It can access the about section. It has access to the dispatch section where it can modify 
                                    and delete dispatchers. It has access to the register section where it can create a new account. 
                                    It can access the new flight section where it can create a new flight.
                                </li>
                                <li><strong>Dispatcher:</strong> It can access the Profile page to view the currently logged-in profile. 
                                    It can access the Home page to consult the flights assigned to you. It also has access to the About page 
                                    and can access create, read, update and delete the report.
                                </li>

                                <li><strong>Glossary</strong></li>
                                <li><strong>P: </strong>Where the aircraft is parked</li>
                                <li><strong>STAND: </strong>Where the aircraft arrival on stand</li>
                                <li><strong>STA: </strong>Schedule Time  od Arrival</li>
                                <li><strong>STD: </strong>Schedule Time  od Arrival</li>
                                <li><strong>ATD: </strong>Actual Time of Departure</li>
                                <li><strong>NIL: </strong>None or I have nothing to send to you</li>
                                <li><strong>SPECIAL ASSISTANCE:</strong>WCHR(can walk and make steps), WCHS(can walk but not make steps)</li>
                                <li><strong>INT: </strong>Internationa arrival</li> 
                                <li><strong>D: </strong>Domestical arrival</li>
                                <li><strong>CTA: </strong>Republic of Irelad and Channes Island arrival</li>
                            </ul>
                        </li>
                    </ol>

                    <!-- Button to go to the home page -->
                    <div class="row center-align">
                        <a href="{{ url_for('get_flights') }}" class="btn-small waves-effect waves-light pink darken-3">
                            Go to Home Page
                            <i class="fas fa-home right"></i>
                        </a>
                    </div>
                </div>  
            </div>
        </div>
    </div>

{% endblock %}