{% extends "base.html" %}
{% block content %}

    <div class="gray-background">
        <div class="row custom-margin-top">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel">
                    <h3 class="center-align custom-font-size">Welcome to Daily Flight Planner!</h3>

                    <p>Daily Flight Planner is an innovative application designed to digitise 
                        and streamline the daily dispatch planning process for airports.
                        Our platform offers a user-friendly interface that enhances efficiency 
                        and accuracy in managing flight operations.</p>
                    <ol class="custom-font-size">
                        <li><strong>Log In:</strong> There are two types of logins: AdminOps and Dispatcher, 
                            each with access to different functionalities. 
                            To access, you need a login created by Adminops.
                            <ul><strong>AdminOps:</strong>It is a privileged access. It can access the profile 
                                currently in use, access the home page, search the database, edit and delete flights. 
                                It can access the about section. It has access to the dispatch section where it can modify 
                                and delete dispatcher. It has access to the register section where it can create a new account. 
                                It can access the new flight section where it can create a new flight.</ul>
                            <ul><strong>Dispatcher:</strong>It can access the Profile page to view the currently logged-in profile. 
                                It can access the Home page to consult the flights assigned to you. It also have access to the About page.</ul>
                        </li>
                        <li><strong>Register:</strong>Only AdminOps can register a new account.</li>
                        <li><strong>View Flights:</strong> On the home page, you can see all scheduled flights.</li>
                        <li><strong>Add a New Flight:</strong> If you're an admin, you can add new flights to the schedule.</li>
                        <li><strong>Edit or Delete Flights:</strong> Admins can also edit or delete existing flights as needed.</li>
                        <li><strong>Check Dispatch:</strong> Admins have access to the dispatch page for additional operations.</li>
                        <li><strong>Profile Management:</strong> Users can view and edit their profile information.</li>
                    </ol>
                
                    <div class="row center-align">
                        <a href="{{ url_for('get_flights') }}" class="btn-small waves-effect waves-light pink darken-3">
                            Go to Home Page
                            <i class="fas fa-home right"></i>
                        </a>
                    </div>
                </div>  
            </div>
        </div>
    </div>
{% endblock %}