{% extends "base.html" %}
{% block content %}

    <div class="row white">
        <h3 class="white-text text-darken-4 center-align pink" style="margin-top: 25px; font-size: 2.5rem; padding: 15px 0;">Add Flight</h3>
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-parking prefix text-darken-4" style="color: #e91e63;"></i>
                    <input id="stand" name="stand" minlength="5" maxlength="10"
                        type="text" class="validate" required>
                    <label for="stand">Stand</label>
                </div>
             
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-comments prefix prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="comments" name="comments" minlength="5"
                        maxlength="250" class="materialize-textarea validate" required></textarea>
                    <label for="comments">Comments</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <div class="switch">
                        <i class="fas fa-exclamation-circle prefix text-darken-4" style="color: #e91e63;"></i>
                        <label for="special_assistance">
                            <input type="checkbox" id="special_assistance" name="special_assistance">
                            <span class="lever"></span>
                            Special Assistance
                        </label>
                    </div>    
                </div>

                <div class="input-field col s6">
                    <i class="fas fa-thin fa-calendar-plus prefix text-darken-4" style="color: #e91e63;"></i>
                    <input id="date" name="date" type="text" class="datepicker validate" required>
                    <label for="date">Date</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-plane-arrival prefix text-darken-4" style="color: #e91e63;"></i>
                    
                    <textarea id="inbound" name="inbound" minlength="5"
                        maxlength="10" class="materialize-textarea validate" required></textarea>
                    <label for="inbound">Flight Inbound</label>
                </div>
                       
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-map prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="from" name="from" minlength="3"
                        maxlength="5" class="materialize-textarea validate" required></textarea>
                    <label for="from">From</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-plane prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="registration" name="registration" minlength="5"
                        maxlength="6" class="materialize-textarea validate" required></textarea>
                    <label for="registration">Registration</label>
                </div>
                       
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-plane prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="aircraft " name="aircraft " minlength="3"
                        maxlength="5" class="materialize-textarea validate" required></textarea>
                    <label for="aircraft ">Type of Aircraft</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-plane-arrival prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="sta" name="sta" minlength="5"
                        maxlength="6" class="materialize-textarea validate" required></textarea>
                    <label for="sta">Scheduled Time of Arrival</label>
                </div>
                       
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-plane-arrival prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="pax_inbound " name="pax_inbound " minlength="3"
                        maxlength="5" class="materialize-textarea validate" required></textarea>
                    <label for="pax_inbound ">Passengers Inbound</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-plane-arrival prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="arrival" name="arrival" minlength="5"
                        maxlength="6" class="materialize-textarea validate" required></textarea>
                    <label for="arrival">Arrival</label>
                </div>
                       
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-plane-departure prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="outbound " name="outbound " minlength="3"
                        maxlength="5" class="materialize-textarea validate" required></textarea>
                    <label for="outbound ">Flight Outbound</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-map prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="to" name="to" minlength="5"
                        maxlength="6" class="materialize-textarea validate" required></textarea>
                    <label for="to">To</label>
                </div>
                       
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-plane prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="registration " name="registration " minlength="3"
                        maxlength="5" class="materialize-textarea validate" required></textarea>
                    <label for="registration ">Registration</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-plane prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="aircraft " name="aircraft " minlength="5"
                        maxlength="6" class="materialize-textarea validate" required></textarea>
                    <label for="aircraft ">Type of Aircraft</label>
                </div>
                       
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-plane-departure prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="std" name="std" minlength="3"
                        maxlength="5" class="materialize-textarea validate" required></textarea>
                    <label for="std">Scheduled Time of Departure</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-plane-departure prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="pax_outbound" name="pax_outbound" minlength="5"
                        maxlength="6" class="materialize-textarea validate" required></textarea>
                    <label for="pax_outbound">Passengers Outbound</label>
                </div>
                       
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-plane-departure prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="gate" name="gate" minlength="3"
                        maxlength="5" class="materialize-textarea validate" required></textarea>
                    <label for="gate">Gate</label>
                </div>
            </div>   
        </form>
    </div>

{% endblock %}