{% extends "base.html" %}
{% block content %}

    <div class="row white">
        <h3 class="white-text text-darken-4 center-align pink" style="margin-top: 25px; font-size: 2.5rem; padding: 15px 0;">Add Flight</h3>
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-parking prefix text-darken-4" style="color: #e91e63;"></i>
                    <input id="stand" name="stand" minlength="5" maxlength="10"
                        type="text" class="validate" required>
                    <label for="stand">Stand</label>
                </div>
             
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-comments prefix prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="comments" name="comments" minlength="5"
                        maxlength="250" class="materialize-textarea validate" required></textarea>
                    <label for="comments">Comments</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <div class="switch">
                        <i class="fas fa-exclamation-circle prefix text-darken-4" style="color: #e91e63;"></i>
                        <label for="special_assistance">
                            <input type="checkbox" id="special_assistance" name="special_assistance">
                            <span class="lever"></span>
                            Special Assistance
                        </label>
                    </div>    
                </div>

                <div class="input-field col s6">
                    <i class="fas fa-thin fa-calendar-plus prefix text-darken-4" style="color: #e91e63;"></i>
                    <input id="date" name="date" type="text" class="datepicker validate" required>
                    <label for="date">Date</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-thin fa-plane-arrival prefix text-darken-4" style="color: #e91e63;"></i>
                    
                    <textarea id="inbound" name="inbound" minlength="5"
                        maxlength="10" class="materialize-textarea validate" required></textarea>
                    <label for="inbound">Arrival</label>
                </div>
                       
                <div class="input-field col s6">
                    <i class="fas fa-align-left prefix text-darken-4" style="color: #e91e63;"></i>
                    <textarea id="from" name="from" minlength="3"
                        maxlength="5" class="materialize-textarea validate" required></textarea>
                    <label for="from">From</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}