{% extends "base.html" %}
{% block content %}

<div class="gray-background">
    <!-- Header for the Dispatcher section -->
    <h3 class="white-text text-darken-4 center-align pink" style="margin-top: 25px; font-size: 2.5rem; padding: 15px 0;">Dispatcher</h3>

    <!-- Button to add a new dispatch -->
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_dispatch')}}" class="btn-large pink darken-2 text-shadow">
                Add Dispatch <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <!-- Display all dispatchers -->
    <div class="row">
        {% for dispatch in dispatch %}
            <div class="col s12 m6">
                <!-- Card for each dispatcher -->
                <div class="card pink darken-4 text-shadow center-align">
                    <div class="card-content white-text">
                        <!-- Dispatch Name -->
                        <label for="id">Dispatch Name</label>
                        <span class="card-title">{{ dispatch.dispatch_name }}</span>
                        <!-- Dispatch ID -->
                        <label for="id">Dispatch ID</label>
                        <span class="card-title">{{ dispatch.id }}</span>
                    </div>
                    <!-- Card actions: Edit and Delete buttons -->
                    <div class="card-action">
                        <a href="{{ url_for('edit_dispatch', dispatch_id=dispatch._id) }}" class="btn-small green accent-4 confirm-btn">Edit</a>
                        <a href="{{ url_for('delete_dispatch', dispatch_id=dispatch._id) }}" class="btn-small red lighten-1 confirm-btn">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Modal Structure for confirmation -->
    <div id="confirm-modal" class="modal">
        <div class="modal-content">
            <h4>Confirm</h4>
            <p>Are you sure you want to continue?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" id="confirm-action" class="waves-effect waves-red btn-flat">Continue</a>
        </div>
    </div>
</div>

{% endblock %}