{% extends "base.html" %}
{% block content %}
<div class="gray-background">

    <h2>Edit Report</h2>
    
    <form method="POST" action="{{ url_for('edit_report', report_id=report._id) }}" id="update-report-form">
        <div class="row">
            <div class="input-field col s12">
                <input id="flight_number" name="flight_number" type="text" class="validate" value="{{ report.flight_number }}" required>
                <label for="flight_number">Flight Number</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="dispatcher_name" name="dispatcher_name" type="text" class="validate" value="{{ report.dispatcher_name }}" required>
                <label for="dispatcher_name">Dispatch Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="report_content" name="report_content" class="materialize-textarea" required>{{ report.report_content }}</textarea>
                <label for="report_content">Report Content</label>
            </div>
        </div>
        <div class="row">
            <button class="btn-small pink waves-effect waves-light" type="button" id="update-report-btn">Edit Report
                <i class="fas fa-edit right"></i>
            </button>
            <a href="{{ url_for('report', report_id=report._id) }}" class="btn-small waves-effect waves-light red">Cancel
                <i class="fas fa-times right"></i>
            </a>
        </div>
    </form>

    <!-- Modal Structure -->
    <div id="confirm-modal" class="modal">
        <div class="modal-content">
            <h4>Confirm</h4>
            <p>Are you sure you want edit this report?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" id="confirm-action" class="waves-effect waves-red btn-flat">Edit</a>
        </div>
    </div>
</div>
{% endblock %}

