{% extends "base.html" %}
{% block content %} 

    {% for flight in flights %}
        {{ flight.dispatch_name }}<br>
        {{ flight.flight_inbound }}<br>
        {{ flight.registration }}<br>
        {{ flight.aircraft }}<br>
        {{ flight.from }}<br>
        {{ flight.STA }}<br>
        {{ flight.pax_inbound }}<br>
        {{ flight.arrival }}<br>
        {{ flight.flight_outbound }}<br>
        {{ flight.to }}<br>
        {{ flight.STD }}<br>
        {{ flight.stand }}<br>
        {{ flight.pax_outbound }}<br>
        {{ flight.comments }}<br>
        {{ flight.date }}<br>    
    {% endfor %}

    <ul class="collapsible">
      <li>
          <div class="collapsible-header white-text pink darken-4 text-shadow"><i class="fas fa-angle-down"></i>First</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
          <div class="collapsible-header white-text pink darken-4 text-shadow"><i class="fas fa-angle-down"></i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
          <div class="collapsible-header white-text pink darken-4 text-shadow"><i class="fas fa-angle-down"></i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
  </ul>
                   

{% endblock %}



